name: Build & Publish NuGet Package

on:
  workflow_dispatch:
    push:
      branches:
        - 'main'
    pull_request:
      branches:
        - '*'
    release:
      types:
        - published

jobs:
  build:
    name: Build & Publish
    runs-on: macos-latest
    
    env:
      NUGET_API_KEY: ${{ secrets.NUGET_API_KEY }}
      PACKAGE_OUTPUT_PATH: ./output
    
    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Setup .NET
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: '10.0.100'

      - name: Install MAUI
        run: dotnet workload install maui

      - name: Restore dependencies
        run: dotnet restore

      - name: Build
        run: dotnet build MauiMotion/MauiMotion.csproj --configuration Release --no-restore

      - name: Pack NuGet package
        run: dotnet pack MauiMotion/MauiMotion.csproj --configuration Release --output $PACKAGE_OUTPUT_PATH

      - name: Publish to NuGet
        if: github.event_name == 'release'
        run: dotnet nuget push $PACKAGE_OUTPUT_PATH/*.nupkg --api-key $NUGET_API_KEY --source https://api.nuget.org/v3/index.json --skip-duplicate